

<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-body txt1157">
              <h5 class="card-title">Job ID : 122514 </h5>
              <h6 class="card-subtitle mb-2 text-muted">Customer Service Associate</h6>
              <p>Full-Time</p>
              <div class="row">
              <div class="col-md-8 div21151">
               
                <p>Location : <b>Delhi-NCR</b></p>
                <p>Industry: <b>BPO Call Centre</b></p>
               

              </div>
              <div class="col-md-4 div21151">
                  <p>Posted On: <b>12 May 20103</b></p>
                <p>status: <b>Active</b></p>
                <p>No. of Post: <b>03</b></p>
              
              </div>
            </div>

            <hr>
            <p><b>Description</b></p>
            <p>Any program or even Windows can use KProxy Extension to connect to Internet. It converts your computer in a proxy server and other devices (a cell phone, a TV...) can hide their traffic behind KProxy Servers.</p>
            <hr>
            <p><b>Qulaification</b></p>
            <p> <span class="badge badge-secondary">BA</span>  <span class="badge badge-secondary">B. Tech</span></p>


            </div>
          </div>





          <div class="card">
              <div class="card-header">
                Job Post (Active)
              </div>
              <div class="card-body">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">S.No.</th>
                          <th scope="col">JobID</th>
                          <th scope="col">Title</th>
                          <th scope="col">Vacancy</th>
                          <th scope="col">Shortlist</th>
                          <th scope="col">Offered</th>
                          <th scope="col">Reject</th>
                          <th scope="col">Posted On</th>

                        </tr>
                      </thead>
                      <tbody>
                      
                      </tbody>
                    </table>
              </div>
            </div>




      </div>
      </div>